.svg-bike-dims {
	width: 100px;
	height: 100px;
}

.svg-bus-dims {
	width: 100px;
	height: 100px;
}

.svg-camera-dims {
	width: 100px;
	height: 100px;
}

.svg-people-dims {
	width: 100px;
	height: 54.48px;
}

